@import url('https://fonts.googleapis.com/css?family=Rubik|Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #eb2667, #f53056, #fc3f44, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.4);
}

header a {
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    /* background: #DD2476; */
    background: var(--bggradient);
}

header .dropdown-content {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-5 {
    padding: 6vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;
}

header .row .col-md-5 img {
    width: 100%;
}

header .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .col-md-7 h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.1em 0em;

}

header .col-md-7 p {
    padding: 10px;
}

header .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}

/* section-1 */

.section-1 .pray img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    text-align: left;
    position: absolute;
    top: 2rem;
    left: -5rem;
    background: white;
    padding: 3rem 3rem 5rem 3rem;
    border-radius: 3px;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.4);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .panel p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}

/* section-2 */

.cover {
    width: 100%;
    height: 55vmin;
    background: url(../assets/shutterstock_1068141515.jpg);
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

.cover .content {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 19vmin;
}

.cover .content > h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content > p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #E5E5E5;
}

.numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -15vmin;
}

.rect {
    background: white;
    width: 17rem;
    height: 12rem;
    border-radius: 0.5em;
    margin: 1rem;
    padding-top: 3.5vmin;
    box-shadow: 1px 2px 50px rgba(255, 0, 0, 0.3);
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}

.number .rect p {
    font-family: var(--Patua);
}

.purchase h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase > p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.card .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    
}